

.titleText{
    text-align: center;
    padding:2% 0 2% 0;
   
    h2{
        color: #ffac4b;
        font-size: 37px;
        font-weight: 600;
    }
    p{
        color: black;
        font-size:18px;
        max-width: 1000px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: iblock;
    }
    @media (max-width:1024px){
        h2{
            font-size: 36px;
        }
    }
    @media (max-width:724px){
        h2{
            font-size: 32px;
        }
    }
    @media (max-width:524px){
        h2{
            font-size: 28px;
        }
    }
    @media (max-width:414px){
        h2{
            font-size: 24px;
        }
    }
}