.layoutCart {
  max-width: 90%;
  margin: 0 auto;
  .title {
    color: #464646;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .cart{
      --columns:2;
      display: flex;
      background-color: #fafafa;
      .cartProduct{
          display: flex;
          .left{
              width: calc(100% / var(--columns) - 40% );
              padding: 15px;
              img{
                  width: 100px;
                  height: 100px;
              }
          }
          .right{
            padding: 15px;
            width: calc(100% / var(--columns) + 40% );
        }
      }
  }
}
