.layoutCart {
  max-width: 90%;
  margin: 0 auto;
  .title {
    color: #464646;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .cart{
      --columns:2;
      background-color: #fafafa;
      .cartProduct{
          display: flex;
          .left{
              width: calc(100% / var(--columns) - 20% );
          }
      }
  }
}
