.layoutCart {
  max-width: 90%;
  margin: 0 auto;
  .title {
    color: #464646;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .cart {
    display: flex;
    --columns: 2;
    margin-top: 20px;
    .cartList {
      width: 50%;
      background-color: #fafafa;
      padding: 25px;
      span {
        font-weight: bold;
      }
      .cartProduct {
        margin-top: 2px;
        display: flex;
        --column: 2;
        background-color: white;
        .left {
          width: calc(100% / var(--column) - 30%);
          padding: 15px;
          img {
            width: 100px;
            height: 100px;
          }
        }
        .right {
          margin-top: 25px;
          width: calc(100% / var(--column) + 30%);
          display: flex;
          .name {
            font-size: 18px;
            font-weight: 400;
            color: #272727;
            width: 30%;
          }
          .unitPrice {
            width: 22%;
            margin-top: 10px;
            .price {
              font-size: 18px;
              color: #272727;
            }
          }
          .total {
            margin-top: -10px;
            p {
              font-size: 20px;
            }
            .totalPrice {
              margin-top: -10px;
              text-align: center;
              font-size: 18px;
              font-weight: bold;
              color: #a73340;
            }
            i {
              font-size: 22px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            i:hover {
              cursor: pointer;
              color: #ffac4b;
            }
          }
          .quantity {
            display: flex;
            width: 20%;
            margin-top: 7px;
            .number {
              border-radius: 25px;
              display: flex;
              position: relative;
              width: 90px;
              input {
                position: absolute;
                left: 0px;
                height: 30px;
                width: 90px;
                border-radius: 25px;
                font-weight: 700;
                font-size: 16px;
                text-align: center;
                border: 1px solid #ebebeb;
              }
              span {
                text-align: center;
                width: 30px;
                height: 30px;
                font-size: 25px;
                cursor: pointer;
                color: #898989;
                border: 1px solid #ebebeb;
                line-height: 25px;
                background-color: white;
              }
              .giam {
                position: absolute;
                left: 0;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                z-index: 1;
              }
              .tang {
                position: absolute;
                right: 0px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                z-index: 1;
              }
            }
          }
        }
      }
      .noteOrder {
        margin-top: 20px;
        label {
          font-weight: 600;
        }
      }
    }
    .informationOrder {
     
      width: 30%;
      margin: -32px 0 0 20px;
      background-color: red;
      .continue {
        text-align: right;

        margin-bottom: 10px;
        font-size: 16px;
        a {
          text-decoration: none;
          color: black;
        }
      }

      .information {
        border: 1px solid aqua;
        padding: 10px;
        .title {
          font-size: 17px;
          font-weight: bold;
          margin: 5px 0 10px 0;
          color: #272727;
          text-align: left;
        }
      }
      .price {
        display: flex;
        justify-content: space-between;
        p {
          color: #272727;
          font-size: 17px;
          font-weight: bold;
        }
      }
      button {
        background-color: black;
        width: 100%;
        height: 40px;
        color: white;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
      }
    }
  }
}

@media (max-width: 968px) {
  .cart {
    display: unset !important;
    .cartList {
      width: 100% !important;
      .cartProduct {
        .left {
          width: calc(100% / var(--column) - 33%);
          img {
            width: 80px;
            height: 80px;
          }
        }
        .right {
          width: calc(100% / var(--column) + 33%) !important;
          .name {
            width: 25% !important;
          }
          .unitPrice {
            width: 25%;
            margin-top: 10px;
          }
          .quantity {
            width: 22%;
          }
          .total {
            margin-bottom: 10px;
            p {
              font-size: 17px !important;
            }
          }
        }
      }
    }
    .infomationOrder {
      width: 100% !important;
      margin: 25px 0 0 0 !important;
    }
  }
}
@media (max-width: 745px) {
  .cartProduct {
    .left {
      width: 35% !important;
      img {
        width: 125px !important ;
        height: 125px !important;
      }
    }
    .right {
      display: unset !important;
      width: 65% !important;
      position: relative;
      .name {
        margin-top: -20px;
        font-size: 16px;
      }
      .total {
        text-align: center;
        width: 100px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        i {
          margin-top: 30%;
          font-size: 16px !important;
        }
      }
      .quantity {
        width: 45% !important;
        position: absolute;
        top: 20%;
        .number {
          width: 80px !important;
          input {
            height: 25px !important;
            width: 80px !important;
          }
          span {
            width: 25px !important;
            height: 25px !important;
            line-height: 15px !important;
          }
        }
      }
      .unitPrice {
        position: absolute;
        top: 50%;
      }
    }
  }
}
@media (max-width: 590px) {
  .cartList {
    .cartProduct {
      height: 150px;
      .left {
        width: 30% !important;
        img {
          width: 100px !important ;
          height: 100px !important;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .cartList {
    .cartProduct {
      height: 150px;
      .left {
        width: 30% !important;
        img {
          width: 70px !important ;
          height: 70px !important;
        }
      }
      .right {
        margin-left: 10px;
        .name {
          font-size: 15px !important;
          margin-top: -5px;
        }
      }
    }
  }
}
