

.content{
    --columns:2;
    display: flex;
    .MenuLeft{
        width: calc(100% / var(--columns) - 23%);
        height: 600px;
        background-color: #f4f2ed;
        border-radius: 5px;
        .DanhMuc{
            margin: 15px 0 0 15px;
        }
        hr{
            width: 95%;
            background-color: #ffac4b;
        }
        .wrapper{
            display: flex;
            height: 100px;
            width: 100px;
        }
        
    }
    .Right{
        width: calc(100% / var(--columns) + 23%);
    }
}
.accordion{
    .item{
        background-color: #ffac4b;
        margin-top: 10px;
        .content{
            
        }
    }
}
