

.content{
    --columns:2;
    display: flex;
    .MenuLeft{
        width: calc(100% / var(--columns) - 23%);
        height: 600px;
        background-color: #f4f2ed;
        border-radius: 5px;
        .DanhMuc{
            margin: 15px 0 0 15px;
        }
        hr{
            width: 95%;
            background-color: #ffac4b;
        }
        Accordion{
            margin-top: 50px;
            border: none;
        }
    }
    .Right{
        width: calc(100% / var(--columns) + 23%);
    }
}