

.content{
    --columns:2;
    display: flex;
    .MenuLeft{
        width: calc(100% / var(--columns) - 25%);
        .nav_bars-btn{
            width: 30px;
            height: 30px;
            co
        }
    }
    .Right{
        width: calc(100% / var(--columns) + 25%);
    }
}