
.home_banner1{
    
    height: 400px;
    border: 1px solid black;
}
#home_banner1{
    background-image: url('../../assets/img/home_banner1.png');
    height: 200px;
}

.title {
    color:red
}
.back{
    background-color:black
}