
#home_banner1{
   height: 400px;
   position: relative;
   @media (max-width: 500px){
       height: 250px;
       width: 95%;
       margin: 0 auto;
   }
   .content{
       position: absolute;
       top: 72%;
       left: 5%;
       .title{
           color: white;
           font-size: 30px;
           font-weight: bold
       }
       button{
           border-radius: 2%;
       }
   }
}
