
#home_banner1{
   height: 400px;
   background-color: black;
   position: relative;
   @media (max-width: 500px){
       height: 250px;
       width: 95%;
       margin: 0 auto;
   }
   .content{
       position: absolute;
       top: 75%;
       left: 5%;
       .title{}
   }
}
