

.section4{
    --columns:2;
    display: flex;
    .section4Left{
        width: calc(100% / var(--columns) + 5%);
        height:400px;
        background-color:#7a5c3d;
        position: relative;
        .titleTop{
            position: absolute;
            top: 10%;
            left: 10%;
            .Top{
                font-size: 38px;
                font-weight: 600;
                color: white;
            }
            .Body{
                color: white;
                font-size: 16px;
            }
        }
    }
    .section4Right{
        width: calc(100% / var(--columns) - 5%)
    }
}