:root{
    --text-color:#ffac4b;
}

.container {
    width: 100%;
    margin: auto;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    position:fixed;
    width: 100%;
    z-index: 2;
   
}

.nav-logo h1{
    font-size: 3rem; 
    color: white;
}
.nav-logo p{
    font-size: 15px; 
    color: white;
    margin-top: -10px;
    margin-left: 10px;
}
.nav__list{
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}
.nav__link:hover{
    color:#ffac4b;
    text-decoration: none;
    
}

.nav-right{
    display: flex;
    justify-self:space-around;
    align-items: center;
}
.nav-right .search{
    margin-right: 20px;
    
}
.nav-right .user{
    margin-right: 20px;
}
.nav-right .user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-right i{
    color: #fff;
    font-size: 1.3rem;
}
.nav-right .user-hover li:hover{
    color: #ffac4b;
    text-decoration: none !important;
}
/*mobile*/
.nav_bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    font-size:1.3rem;
    display:none
}
.nav_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display:none;
    animation: fadeIn linear 0.2s;
    
}
.nav-mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background:#2d2d2d;
    transform: translateX(-100%);
    opacity:0;
    transition:transform linear 0.2s;
}
.nav__mobile-list{
    margin-top: 24px;
    list-style: none;
    font-size:1rem
}
.nav__mobile-list hr{
    margin-right: 10px;
    
}
.nav__mobile-list-user{
    display:flex
}
.nav__mobile-list-user span{
    color:#b1b1b1;
    font-size:20px
}
.nav__mobile-list-user i{
    font-size:1.2rem;
    margin-right: 10px;
    color:#b1b1b1
}
.nav__mobile-list-user a{
    list-style: none;
    text-decoration: none;
    color:#b1b1b1;
    font-size:18px
}
.nav__mobile-link{
    text-decoration: none;
    color: #b1b1b1; 
    display:block;
    padding: 8px 0;
    font-size: 1.2rem;
}
.nav__mobile-close{
    width: 28px;
    height: 28px;
    font-size: 1.3rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav_input:checked ~ .nav_overlay{
    display:block;
} 
.nav_input:checked ~ .nav-mobile {
    transform:translateX(0%);
    opacity: 1;
    
}
.nav-mobile{
    z-index: 2;
}
/*from*/
from input{
    border-radius: 5px;
}
@media (max-width:1023px){
    
    .nav_bars-btn{
        display: block;
    }
    .nav-pc{
        display: none;
    }
    .nav-logo{
        margin-left: 100px;
    }
    
}
@media (max-width:600px){
    .nav{
        justify-content: space-between;
    }
    .nav_bars-btn{
        margin-left: 15px;
    }
    .nav-right .shopping{
        margin-right:15px
    }
    .nav-logo{
        margin-left: 60px;
        margin-top: 20px;
    }
    .nav-logo h1{
        font-size:35px
    }
    .nav-logo p{
        font-size:18px;
        margin-left: 1px;
    }
    
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*nav__link-options*/
.fa-chevron-down {
    margin: 5px 0 0 5px;
}

.nav__link-options{
    background-color: #fff;
    width: 65%;
    position:absolute;
    top: 80%;
    left: 17%;
    border: 1px solid #fff;
    cursor: default;
    animation: options ease-in 0.25s;
    display:none;
    z-index: 2;
    
}
.nav__link-options::before{
    position:absolute;
    top: -8%;
    width: 80%;
    height: 40px;
    display: block;
    content:"";
    
}
.nav-pc .options:hover .nav__link-options{
    display:block;
    
}
.nav__link-options-list li{
    text-decoration: none;
}

.nav__link-options-list li{
    list-style: none;
    margin-top: 20px;

}

.nav__link-options-list a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav__link-options-list a:hover{
    color: #ffac4b;
    text-decoration: none;
}

/*search hover*/
.search-hover{
    background-color: #fff;
    position:absolute;
    top: 70%;
    right: 11%;
    animation: options ease-in 0.25s;
    display:none;
}
.search-hover::before{
    width: 100%;
    height: 25px;
    position:absolute;
    top: -70%;
    right: -10%;
    content:"";
    
}
.search-hover input{
    border: none;
    width: 100%;
    height: 35px;  
}
.search-form i{
    color: black;
    font-size:1rem
}
.search:hover .search-hover{
    display: block;
}


/*user-hover*/
.user:hover{}
.user-hover{
    background-color: #fff;
    width: 150px;
    height: 70px;
    position:absolute;
    top: 70%;
    right: 10%;
    border: 1px solid black;
    cursor: default;
    animation: options ease-in 0.25s;
    display:none;
}
.user-hover::before{
    width: 100%;
    height: 30px;
    position:absolute;
    top: -30%;
    content:"";
}
.user:hover .user-hover{
    display:block;
    cursor: pointer;
}
.user-hover .user-hover-list li{
    list-style: none;
    margin-left: 5px;
    padding-top: 5px;
}
.user-hover .user-hover-list .nav_link{
    margin-bottom: 10px;
    margin-top:-5px;
}
.user-hover .user-hover-list a:hover{
    color:#ffac4b
}
.user-hover .user-hover-list a{
    text-decoration: none;
    color: black;
}

@keyframes options{
    from{
        transform:scale(0);
    }
    top{
        transform:scale(1)
    }
}
.shopping{
    display: flex;
    position:relative;
}

.shopping .count-card{
    height:25px;
    width:25px;
    border-radius:100rem;
    background-color:#ffac4b;
    object-fit: cover;
    position: absolute;
    top:-70%;
    left: 100%;
}
@media (min-width: 500px){
    .shopping a{
        margin-right: 20px;
    }
    .shopping .count-card{
        position: absolute;
        top:-70%;
        left: 60%;
    }
}
/*MODAL*/
.modal-top p{
 
    color:#212529;
    font-size:18px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 14%;
    
}
/*MODAL*/
.modal-body{
    margin-top:-25px
}
.modal-body .nav-link{
    list-style: none;
    text-align: center;  
    margin-top: -10px;
}
.modal-body .nav-link:hover{
    color:#ffac4b;
    cursor: pointer;
}
.modal-img img{
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
}
.nav-mobile{
    z-index: 100;
}