
.title-page{
    color: #464646;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}
.title-page{
    font-size: px;
    line-height: 22px;
    font-weight: 700;
    color: #212B25;
    margin-bottom: 17px;
    padding-top: 12px;
}