.titleText {
  text-align: center;
  padding: 3% 0 2% 0;

  h2 {
    color: #ffac4b;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  p {
    color: black;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
  }
  @media (max-width: 1024px) {
    h2 {
      font-size: 36px;
    }
  }
  @media (max-width: 724px) {
    h2 {
      font-size: 32px;
    }
  }
  @media (max-width: 524px) {
    h2 {
      font-size: 28px;
    }
  }
  @media (max-width: 414px) {
    h2 {
      font-size: 24px;
    }
  }
}
.Section7 {
    
    .Img{
        width: 100%;
        background-color: red;
        img{
            width: 100px;
            height: 100px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
  .Header {
    text-align: center;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .Content{
      text-align: center;
      p{
        font-size: 15px;
        color: #959393;
      }
  }
}
