
  
    
  .Right {
      background-color: red;
    width: calc(100% / var(--columns) + 23%);
    .RightList {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .item {
        border: 0.5px solid aqua;
        margin-top: 20px;
        margin-bottom: 50px;
        position: relative;
        width: 30%;
        height: 270px;
        img {
          width: 84%;
          height: 230px;
          margin: 0 auto;
        }
        .price {
          text-align: center;
          line-height: 31px;
          color: #ffac4b;
          font-size: 17px;
          font-weight: 600;
          width: 100px;
          height: 35px;
          box-shadow: 0 0 5px 0 rgb(0 0 0 / 40%);
          position: relative;
          top: -20px;
          margin: 0 auto;
          transition: all 0.5s ease 0s;
          background-color: white;
        }
        .name {
          position: absolute;
          bottom: -20%;
          left: 50%;
          transform: translateX(-50%);
          .nameTitle {
           
            color: #333;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            transition: all 0.5s ease 0s;
          }

        }
        a {
          text-decoration: none;
        }
        a:hover {
          .price {
            color: #fff;
            background-color: #ffac4b;
          }
          .nameTitle {
            color: #ffac4b;
          }
        }
      }
    }
  }
  
  /*Mobile*/
  
  
  