.container{
    display: flex;
    justify-content: space-between;
    align-self: start;
    outline: none;
}
.item{
    border: none;
    
}
 .item img{
    width: 100%;
    height: 430px;
    border: 1px solid blue;
    
}
