.titleText{
    text-align: center;
    text-align: center;
    padding-top: 4%;
    h2{
        color: #ffac4b;
        font-size: 30px;
    }
    p{
        color: black;
        font-size:18px
    }
}
.item{
    border: none;
    
}
 .item img{
    width: 100%;
    height: 430px;
    border: 1px solid blue;
    
}
