.titleText{
    margin: 0 auto;
    background-color: red;
    text-align: center;
}
.item{
    border: none;
    
}
 .item img{
    width: 100%;
    height: 430px;
    border: 1px solid blue;
    
}
