.titleText{
    text-align: center;
    text-align: center;
    padding-top: 2%;
    h2{
        color: #ffac4b;
        font-size: 40px;
        font-weight: 600;
    }
    p{
        color: black;
        font-size:18px
    }
    @media (max-width:728px){
        width: 70px;
        height: 70px;
    }
}
.item{
    border: none;
    
}
 .item img{
    width: 100%;
    height: 430px;
    border: 1px solid blue;
    
}
