.detail {
  display: flex;
  --columns: 2;
  .detailLeft {
    width: calc(100% / var(--columns) - 10%);
    .Img {
      border: 1px solid aqua;
      padding: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .detailRight {
    width: calc(100% / var(--columns) + 10%);
    margin-left: 20px;
    .detailProduct {
      .name {
        font-size: 25px;
        color: #212529;
        font-weight: 600;
      }
      .information {
        display: flex;
        font-size: 17px;
        .inventoryQuantity {
          margin-left: 20px;
        }
      }
      .price {
        font-size: 30px;
        display: inline-block;
        color: #ffac4b;
        font-weight: 700;
      }
      span {
        color: #ffac4b;
      }
    }
    .quantity{
        .form-control{
            border-radius: 25px;
            input{
                height: 40px;
                width: 50px !important;
                margin-top: -10px;
            }
            span{
                border-right: 1px  solid black;
            }
        }
    }
  }
}
@media (max-width: 986px) {
  .detail {
    display: unset;
    --columns: 1;
    .detailLeft {
      width: calc(100% / var(--columns));
    }
    .detailRight {
      width: calc(100% / var(--columns));
      margin-left: unset;
      margin-top: 20px;
    }
  }
}

