

.detail{
    display: flex;
    --columns:2;
    .detailLeft {
        width: calc(100% / var(--columns) - 10%);
        background-color: red;
    }
    .detailRight {
        width: calc(100% / var(--columns) + 10%);
        background-color: blue;
        margin-left: 20px;
    }
}
@media (max-width:986px){
    
}