

.detail{
    display: flex;
    --columns:2;
    .detailLeft {
        width: calc(100% / var(--columns) - 10%);
        background-color: r;
    }
    .detailLeft {
        width: calc(100% / var(--columns) + 10%);
    }
}